.box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px 19px;
    box-sizing: border-box;
    background-color: var(--gray-1);
    border-radius: 8px;
    border: 1px solid var(--gray-15);
    cursor: pointer;
    margin-bottom: 8px;
}

.box:hover {
    background-color: var(--gray-9);
    border: 1px solid var(--gray-9);
}

.userInfo{
    display: grid;
    flex: 1;
    justify-content: start;
    grid-template-areas:
    "A A A B B B"
    "A A A C C C";
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar {
    grid-area: A;
    margin-right: 12px;
    height: 32px;
    width: 32px;
}
.name{
    grid-area: B;
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 375;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-2);
    max-width:260px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gameTime{
    grid-area: C;
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 325;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-3);
    max-width:260px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gameLogo{
    width: 24px;
    height: 24px;
    object-fit: cover;
}