.wrapperNavigationBar {
    display: flex;
    flex-direction: row;
    flex:1;
}

.NavigationBar{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 240px;
    min-height: 100vh;
    background-color: var(--gray-1);
}

.navigationPanel {
    flex: 1;
    width: 100%;
    padding: 0px 8px;
    position: relative;
    overflow-x: hidden; 
    overflow-y: auto;
}

.navigationPanel::-webkit-scrollbar {  
    width: 8px;
    position: absolute;
    background-color: var(--gray-1);
}
.navigationPanel::-webkit-scrollbar-thumb {
    background-color: var(--gray-4);
    height: 133px;
    width: 2px;
    border: 2px solid var(--gray-1);
 }

.NavButtonsBlock {
    margin-top: 10px;
    margin-bottom: 20px;
}

.directMessagesTitle{
    font-family: 'ABC Ginto Normal';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--gray-11);
    margin-bottom: 8px;
    padding-left: 8px;
    user-select: none;
}