.smallSizeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: 291px;
    border-radius: 16px;
    background: var(--gray-16);
    padding: 32px 24px;
    justify-content: space-between;
    position: relative;
}
.smallSizeItem__LabelNew {
    position: absolute;
    top: -5px;
    left: -5px;
}

.smallSizeItem__icon {
    display: flex;
    align-items: center;
}

.smallSizeItem__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    font-family: ABC Ginto Normal;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.smallSizeItem__subtitle {
    color: var(--white);
    text-align: center;
    font-family: ABC Ginto Normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.smallSizeItem__beta{
    display: inline-flex;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--purple-1) 0%,  var(--pink-3) 100%);
    border-radius:8px;
    color: var(--white);
    text-align: center;
    font-family: ABC Ginto Normal;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 4px; 
}