.background{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 18px;
    background-color: var(--gray-1);
}

.icon{
    fill:var(--gray-3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.icon:hover{
    fill:var(--red-1)
}