.separator {
    height: 1px;
    margin: 16px 16px;
    background: var(--gray-opacity-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    color: var(--gray-33);
    font-family: ABC Ginto Normal;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 20px;
    padding: 2px 4px;
    background: var(--gray-2);
}