@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('./typography//style');

:root {
    --white: #ffffff;
    --white-2: #DCDDDE;
    
    --brend-color: #5865F2;
    --brend-color-hover: #4752c4;
    --brend-color-active: #3c45a5;

    --gray-1: #2F3136;
    --gray-2: #36393F;
    --gray-3: #B9BBBE;
    --gray-4: #202225;
    --gray-5: #3C3F45;
    --gray-6: #72767D;
    --gray-7: #A3A6AA;
    --gray-8: #4F545C;
    --gray-8-opacity-6: rgba(79, 84, 92, 0.6);
    --gray-8-opacity-4: rgba(79, 84, 92, 0.4);
    --gray-9: #18191C;
    --gray-10: #292B2F;
    --gray-11: #96989D;
    --gray-12: #42464D;
    --gray-13: #ACADB0;
    --gray-14: #2B2D32;
    --gray-15: #3F4248;
    --gray-16: #232428;
    --gray-17: #111214;
    --gray-18: #8C8C8C;
    --gray-19: #2E2F34;
    --gray-20: #313338;
    --gray-21: #2B2D31;
    --gray-22: #F2F3F5;
    --gray-23: #4F5660;
    --gray-24: #5E6772;
    --gray-25: #E3E5E8;
    --gray-26: #2E3338;
    --gray-27: #DBDEE1;
    --gray-28: #E7E9EB;
    
    --blue-1: #00AFF4;
    --blue-2: #0068E0;

    --green-1: #3BA55D;
    --green-2: #2D7D46;
    --green-3: #46C46E;
    --green-4: #50C46E;

    --red-1: #ED4245;
    --red-2: #A12D2F;
    --red-3: #C80000;
    --red-4: #DA373C;
    --red-5: #A12828;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  



 