@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

:root {
    --white: #ffffff;
    --white-2: #DCDDDE;
    
    --brend-color: #5865f2;
    --brend-color-hover: #4752c4;
    --brend-color-active: #3c45a5;

    ---gray-1: #2F3136;
    ---gray-2: #36393F;
    ---gray-3: #B9BBBE;
    ---gray-4: #202225;
    ---gray-5: #3C3F45;
    ---gray-6: #72767D;
    ---gray-7: #A3A6AA;
    ---gray-8: #4F545C;
    ---gray-8-opacity-6: rgba(79, 84, 92, 0.6);
    ---gray-8-opacity-4: rgba(79, 84, 92, 0.4);
    ---gray-9: #18191C;
    ---gray-10: #292B2F;
    ---gray-11: #96989D;
    ---gray-12: #42464D;
    ---gray-13: #ACADB0;

    --blue-1: #00AFF4;

    --green-1: #3BA55D;

    --red-1: #ED4245;
    --red-2: #A12D2F;
    --red-3: #C80000;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  



 