.bcg{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 212px;
    background-color: var(--gray-17);
    padding: 8px;
    border-radius: 2px;
}

.statusItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 0px 8px 0px;
    min-height: 32px;
}
.separator {
    left: 0;
    bottom: 0;
    width: 284px;
    height: 1px;
    background-color: var(--gray-19);
    margin: 8px 0px 8px 0px;
}
.statusItem:hover {
    background-color: var(--brend-color-hover); 
    border-radius: 2px;   
} 

.iconHover {
    fill:  var(--gray-17);
}

.statusItem:hover .iconHover {
    fill: var(--brend-color-hover);
}
.statusItem:hover .statusText,
.statusItem:hover .helpText {
    color: var(--white);    
}

.statusIcon{
    display: flex;
    width: 12px;
    height: 12px;
    margin: 0px 8px;
}

.blockText{
    flex: 1;
}
.statusText,
.helpText {
    color: var(--gray-3);
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 350;
}
.statusText {
    line-height: 17px;
    font-size: 14px;
}
.helpText {
    line-height: 14px;
    font-size: 12px;
}


