.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 178px;
}

.title{
    margin-bottom: 44px;
    color: var(--white);
    text-align: center;
    font-family: ABC Ginto Normal;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table {
    position: relative;
}

.leftDecoration{
    position: absolute;
    left: 0;
    top: 67px;
    width: 241px;
}

.rightDecoration{
    position: absolute;
    top: 450px;
    right: 0;
    width: 198px;
}