.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 86px;
}

.title{
    margin-bottom: 32px;
    color: var(--white);
    text-align: center;
    font-family: ABC Ginto Normal;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.perksBlockList{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.perksBlockList__midlSizeItems{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
}

.perksBlockList__smallSizeItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; 
}


