.wrapperContent {
    display: flex;
    flex-direction: row;
    height:  100vh;
    overflow: hidden;
  }

.wrapperContent::-webkit-scrollbar {
    width: 0; 
    background-color: transparent;
}

.separator{
    background-color: var(--gray-2);
    width: 32px;
    min-height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}