.box {
    display: flex;
    align-items:center;
    
    width: 224px;
    height: 42px;
    margin-bottom: 2px;
    cursor: pointer;
}
.box:not(.itemActive):hover {
    border-radius: 4px;
    background-color: var(---gray-5);
}
.boxIcon {
    margin-bottom: 0px;
}

.itemActive {
    border-radius: 4px;
    background-color:var(---gray-12);
}

.icon {
    margin-left: 14px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    fill: var(---gray-11)
}
.box:not(.itemActive):hover .icon  {
    fill: var(--white);
}
.itemActive .icon{ 
    fill: var(--white);
}


.avatar {
    margin-left: 8px;
    margin-right: 12px;
}

.name { 
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
    color: var(---gray-11);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    flex: 1;
}
.box:not(.itemActive):hover .name {
    color: var(--white);
}
.itemActive .name{
    color: var(--white); 
}

.closeChat {
    height: 12px;
    width: 12px;
    display: none;
    margin-left: auto;
    margin-right: 12px;
}

.box:not(.itemActive):hover .closeChat  {
    display: flex;
    fill: var(---gray-13);
}

.box:not(.itemActive):hover .closeChat:hover {
    fill: var(--white);
}